Options +FollowSymlinks
RewriteEngine On
RewriteRule	^([a-z]+)$	?section=$1	[L] 
RewriteRule id/([0-9]+)$ index.php?section=id&id=$1 [L]
RewriteRule patho/([chars]+)$ index.php?section=patho&nom=$1 [L]